* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.app {
  padding: 0 10vw 0 10vw;
}

#header {
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

#edit-container {
  position: fixed;
  background-color: rgba(97, 90, 90, 0.85);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 990;
}

#edit-book {
  padding: 0px 1rem 0px 1rem;
  background-color: grey;
  border: 2px black solid;
  opacity: 1 !important;
  position: fixed;
  width: 20rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  align-items: center;
  padding-bottom: 2rem;
}

#edit-book .button, #edit-book select, #edit-book label {
  display: block;
  margin: 0.5rem 0px 0.5rem 0px;
  width: 70%;
  margin: 0 auto;
  margin-top: 0.2rem;
}

#add-book-form form {
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

#add-book-form input, select {
  margin: 0px 0.5rem 0px 0.5rem;
}

#close-edit {
  position: absolute;
  top: 0;
  right: 0;
}

.form-span label {
  display: block;
  margin-left: 0.5rem;
}

#submit-book {
  margin-top: 1.3rem !important;
}

.button {
  width: 10rem;
  height: 2rem;
}

.book {
  position: relative;
  padding: 0.5rem;
  width: 20rem;
  background-color: gray;
}

.book-info {
  padding-bottom: 1rem;
}

.book:hover {
  background-color: darkgray;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 16px;
  justify-items: center;
}

.book-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  
}