* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.app {
  padding: 2rem;
}

#header {
  padding: 0 10vw 0 10vw;
  align-items: center;
  justify-content: space-between;
}

#edit-book {
  padding: 0px 1rem 0px 1rem;
  background-color: grey;
  border: 2px black solid;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  z-index: 999;
  justify-items: center;
}

#edit-book input, select {
  display: block;
  margin: 0.5rem 0px 0.5rem 0px;
}

#add-book-form form {
  align-items: center;
}

#add-book-form input, select {
  margin: 0px 0.5rem 0px 0.5rem;
}

#close-edit {
  position: absolute;
  top: 0;
  right: 0;
}

.form-span {
  display: inline-block;
}

.form-span label {
  display: block;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
  height: 2rem;
}

.book {
  position: relative;
  padding: 0.5rem;
  width: 20rem;
  background-color: gray;
}

.book-info {
  padding-bottom: 1rem;
}

.book:hover {
  background-color: darkgray;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 16px;
  justify-items: center;

  padding: 0 10vw 0 10vw;
}

.book-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  
}