* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.app {
  padding: 2rem;
}

#header {
  padding: 0 10vw 0 10vw;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
  height: 2rem;
}

.book-description {
  padding: 0.5rem;
  width: 20rem;
  background-color: gray;
}

.book-description:hover {
  cursor: pointer;
  background-color: darkgray;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 16px;

  padding: 0 10vw 0 10vw;
}